@page "/"
@page "/login"
@using CodeBeam.UltimateAuth.Client
@using CodeBeam.UltimateAuth.Core.Abstractions
@using CodeBeam.UltimateAuth.Core.Runtime
@using CodeBeam.UltimateAuth.Server.Abstractions
@using CodeBeam.UltimateAuth.Server.Cookies
@using CodeBeam.UltimateAuth.Server.Infrastructure
@inject IUAuthFlowService<UserId> Flow
@inject ISnackbar Snackbar
@inject ISessionQueryService<UserId> SessionQuery
@inject ICredentialResolver CredentialResolver
@inject IClock Clock
@inject IUAuthCookieManager CookieManager
@inject IHttpContextAccessor HttpContextAccessor
@inject IUAuthClient UAuthClient
@inject NavigationManager Nav
@inject IUAuthProductInfoProvider ProductInfo


<div class="uauth-page d-flex align-center justify-center">
    <MudStack Class="uauth-stack">
        <UALoginForm @ref="_form" Identifier="@_username" Secret="@_password">
            <MudStack>
                <MudText Typo="Typo.h4">Welcome to UltimateAuth!</MudText>
                <MudTextField @bind-Value="@_username" Variant="Variant.Outlined" Label="Username" Immediate="true" />
                <MudPasswordField @bind-Value="@_password" Variant="Variant.Outlined" Label="Password" Immediate="true" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Login</MudButton>
            </MudStack>
        </UALoginForm>

        <MudStack Class="mud-width-full" Row="true">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ValidateAsync">Validate</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="LogoutAsync">Logout</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RefreshAsync">Refresh</MudButton>
        </MudStack>

        <MudStack Class="mud-width-full">
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="ProgrammaticLogin">Programmatic Login</MudButton>
        </MudStack>

        <MudStack Spacing="0">
            <MudText><b>@ProductInfo.Get().ProductName</b> v @ProductInfo.Get().Version</MudText>
            <MudText>Client Profile: @ProductInfo.Get().ClientProfile.ToString()</MudText>
        </MudStack>
    </MudStack>
</div>
