@inject ISnackbar Snackbar

<MudThemeProvider />
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider />

<UAuthApp OnReauthRequired="HandleReauth">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</UAuthApp>

@code {
    private void HandleReauth()
    {
        Snackbar.Add("Reauthentication required. Please log in again.", Severity.Warning);
    }
}