@page "/"
@page "/login"
@using CodeBeam.UltimateAuth.Client
@using CodeBeam.UltimateAuth.Client.Authentication
@using CodeBeam.UltimateAuth.Client.Diagnostics
@using CodeBeam.UltimateAuth.Core.Abstractions
@using CodeBeam.UltimateAuth.Core.Contracts
@using CodeBeam.UltimateAuth.Core.Domain
@using CodeBeam.UltimateAuth.Core.Runtime
@using CodeBeam.UltimateAuth.Server.Abstractions
@using CodeBeam.UltimateAuth.Server.Cookies
@using CodeBeam.UltimateAuth.Server.Infrastructure
@using CodeBeam.UltimateAuth.Server.Services
@using CodeBeam.UltimateAuth.Server.Stores
@inject IUAuthStateManager StateManager
@inject IHubFlowStateReader HubStateReader
@inject IAuthStore AuthStore
@inject UAuthHubContextAccessor HubContextAccessor
@inject IUAuthFlowService<UserId> Flow
@inject ISnackbar Snackbar
@inject ISessionQueryService<UserId> SessionQuery
@inject IFlowCredentialResolver CredentialResolver
@inject IUAuthClient UAuthClient
@inject NavigationManager Nav
@inject IUAuthProductInfoProvider ProductInfo
@inject AuthenticationStateProvider AuthStateProvider
@inject UAuthClientDiagnostics Diagnostics


<div class="uauth-page d-flex align-center justify-center">
    <MudStack Class="uauth-stack">
        <UALoginForm @ref="_form" Identifier="@_username" Secret="@_password" LoginType="UAuthLoginType.Pkce" HubContextAccessor="@HubContextAccessor">
            <MudStack>
                <MudText Typo="Typo.h4">Welcome to UltimateAuth!</MudText>
                <MudTextField @bind-Value="@_username" Variant="Variant.Outlined" Label="Username" Immediate="true" HelperText="Default: Admin" />
                <MudPasswordField @bind-Value="@_password" Variant="Variant.Outlined" Label="Password" Immediate="true" HelperText="Default: Password!" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Login</MudButton>
            </MudStack>
        </UALoginForm>

        <MudStack Class="mud-width-full">
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="ProgrammaticPkceLogin">Programmatic Pkce Login</MudButton>
        </MudStack>

        <MudStack Spacing="0">
            <MudText><b>@ProductInfo.Get().ProductName</b> v @ProductInfo.Get().Version</MudText>
            <MudText>Client Profile: @ProductInfo.Get().ClientProfile.ToString()</MudText>
        </MudStack>

        <MudStack Spacing="0">
            <MudText>Hub SessionId: @HubContextAccessor?.Current?.HubSessionId</MudText>
            <MudText>Client Profile: @HubContextAccessor?.Current?.ClientProfile</MudText>
            <MudText>Return Url: @HubContextAccessor?.Current?.ReturnUrl</MudText>
            <MudText>Flow Type: @HubContextAccessor?.Current?.FlowType</MudText>
            <MudText>Created At: @HubContextAccessor?.Current?.CreatedAt</MudText>
            <MudText>Completed: @HubContextAccessor?.Current?.IsCompleted</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CompleteHubFlow">Complete Hub Flow</MudButton>
        </MudStack>
    </MudStack>

</div>

