@page "/"
@page "/login"
@using CodeBeam.UltimateAuth.Client.Authentication
@using CodeBeam.UltimateAuth.Client.Device
@using CodeBeam.UltimateAuth.Client.Diagnostics
@using CodeBeam.UltimateAuth.Client.Infrastructure
@using CodeBeam.UltimateAuth.Client.Runtime
@using CodeBeam.UltimateAuth.Core.Abstractions
@using CodeBeam.UltimateAuth.Core.Runtime
@inject IUAuthStateManager StateManager
@inject IUAuthProductInfoProvider ProductInfo
@inject ISnackbar Snackbar
@inject IUAuthClient UAuthClient
@inject NavigationManager Nav
@inject IUAuthClientProductInfoProvider ClientProductInfo
@inject AuthenticationStateProvider AuthStateProvider
@inject UAuthClientDiagnostics Diagnostics
@inject IUAuthClientBootstrapper Bootstrapper
@inject IDeviceIdProvider DeviceIdProvider

<div class="uauth-page d-flex align-center justify-center">
    <MudStack Class="uauth-stack">
        <UAuthLoginForm Identifier="@_username" Secret="@_password">
            <MudStack>
                <MudText Typo="Typo.h4">Welcome to UltimateAuth!</MudText>
                <MudTextField @bind-Value="@_username" Variant="Variant.Outlined" Label="Username" Immediate="true" HelperText="Default: Admin" />
                <MudPasswordField @bind-Value="@_password" Variant="Variant.Outlined" Label="Password" Immediate="true" HelperText="Default: Password!" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Login</MudButton>
            </MudStack>
        </UAuthLoginForm>

        <MudStack Class="mud-width-full" Row="true">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ValidateAsync">Validate</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="LogoutAsync">Logout</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RefreshAsync">Refresh</MudButton>
        </MudStack>

        <MudStack Class="mud-width-full">
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="ProgrammaticLogin">Programmatic Login</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="StartPkceLogin">Start Pkce Login</MudButton>
        </MudStack>

        <MudStack Spacing="0">
            <MudText><b>@ClientProductInfo.Get().ProductName</b> v @ClientProductInfo.Get().Version</MudText>
            <MudText>Client Profile: @ClientProductInfo.Get().ClientProfile.ToString()</MudText>
        </MudStack>

        <MudStack Spacing="0">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="StateHasChanged">StateHasChanged</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RefreshAuthState">Refresh Auth State</MudButton>
            <MudText>State of Authentication:</MudText>
            <MudText>From UltimateAuth: @(Auth?.IsAuthenticated == true ? "Authenticated" : "Not Authenticated") - UserId:@(Auth?.Identity?.UserKey)</MudText>
            <MudText>From ASPNET Core: @(_authState?.User?.Identity?.IsAuthenticated == true ? "Authenticated" : "Not Authenticated") - UserId:@(_authState?.User?.Identity?.Name)</MudText>
            <AuthorizeView>
                <Authorized>
                    <MudText>Authorized context is shown.</MudText>
                </Authorized>
                <NotAuthorized>
                    <MudText>Not Authorized context is shown.</MudText>
                </NotAuthorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
                <MudText>This is Admin content.</MudText>
            </AuthorizeView>
        </MudStack>

        <MudStack>
            <MudPaper Class="pa-4 mt-4">
                <MudText Typo="Typo.h6">UltimateAuth Client Diagnostics</MudText>

                <MudDivider Class="my-2" />

                <MudText>Started: @Diagnostics.StartCount - @Diagnostics.StartedAt</MudText>
                <MudText>Stopped: @Diagnostics.StopCount - @Diagnostics.StoppedAt</MudText>
                <MudText>Terminated: @Diagnostics.TerminatedCount - @Diagnostics.TerminatedAt (@Diagnostics.TerminationReason.ToString())</MudText>

                <MudDivider Class="my-2" />

                <MudText>Refresh Attempts: @Diagnostics.RefreshAttemptCount</MudText>
                <MudText>Auto: @Diagnostics.AutomaticRefreshCount</MudText>
                <MudText>Manual: @Diagnostics.ManualRefreshCount</MudText>

                <MudText Color="Color.Success">
                    Touched Success: @Diagnostics.RefreshTouchedCount
                </MudText>
                <MudText Color="Color.Success">
                    No-Op Success: @Diagnostics.RefreshNoOpCount
                </MudText>
                <MudText Color="Color.Warning">
                    ReauthRequired: @Diagnostics.RefreshReauthRequiredCount
                </MudText>
                <MudText Color="Color.Warning">
                    Unknown: @Diagnostics.RefreshSuccessCount
                </MudText>
            </MudPaper>
        </MudStack>
    </MudStack>

</div>

<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="CallHub">Ping UAuthHub</MudButton>
<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="CallApi">Ping ResourceApi</MudButton>

@code {
    // private string? _result;
    // private Severity _severity = Severity.Info;

    private async Task CallHub()
    {
        // try
        // {
        //     var client = HttpClientFactory.CreateClient("UAuthHub");
        //     var response = await client.GetStringAsync("/health");

        //     _result = $"UAuthHub response: {response}";
        //     _severity = Severity.Success;
        // }
        // catch (Exception ex)
        // {
        //     _result = $"UAuthHub error: {ex.Message}";
        //     _severity = Severity.Error;
        // }
        // Snackbar.Add(_result, _severity);
    }

    private async Task CallApi()
    {
        // try
        // {
        //     var client = HttpClientFactory.CreateClient("ResourceApi");
        //     var response = await client.GetStringAsync("/health");

        //     _result = $"ResourceApi response: {response}";
        //     _severity = Severity.Success;
        // }
        // catch (Exception ex)
        // {
        //     _result = $"ResourceApi error: {ex.Message}";
        //     _severity = Severity.Error;
        // }
        // Snackbar.Add(_result, _severity);
    }
}

